# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
build/

# Entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema / editor
.DS_Store
.vscode/
.idea/

# Docker opcional
*.log